name: Docgen
on:
  push:
    branches:
      - master
      - docs
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 20

    name: 'Generate & upload documentation'
    runs-on: 'ubuntu-latest'
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install mdBook and preprocessors
        run: |
          cargo binstall mdbook@0.4.36 \
            mdbook-toc@0.14.1 \
            mdbook-open-on-gh@2.4.3 \
            mdbook-admonish@1.14.0

      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: '1.6.20'

      - name: Generate doc
        run: |
          nim --version
          nimble --version
          nimble install -dy
          nimble docs || true

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book
          force_orphan: true
